#extole-6752927290655470118 img.extole-cta-image {
  display: inline-block;
  width: 100%;
  max-width: 400px;
  height: auto;
  outline: none;
  cursor: pointer;
}
#extole-6752927290655470118 .extole-cta-button {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #000000;
  color: #FFFFFF;
  height: 55px;
  line-height: normal;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0 25px;
  margin: 0;
  cursor: pointer;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
}
#extole-6752927290655470118 .extole-cta-button:hover {
  background-color: #343434;
  color: #FFFFFF;
}
#extole-6752927290655470118 .extole-cta-button:focus {
  box-shadow: 0 0 2px 3px rgba(81, 203, 238, 1);
}
#extole-6752927290655470118 .extole-cta-button img {
  width: 100%;
  max-width: 18px;
  height: auto;
  line-height: normal;
  outline: none;
  border: none;
  margin: 0 10px 0 0;
  padding: 0;
}
